<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.shipbar.relay-worker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>node</string>
    <string>REPLACE_WITH_ABSOLUTE_PATH/dist/main.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SHIPBAR_RELAY_URL</key>
    <string>REPLACE_WITH_DEPLOYED_FUNCTION_URL</string>
    <key>SHIPBAR_DEVICE_ID</key>
    <string>REPLACE_WITH_STABLE_DEVICE_ID</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>15</integer>
</dict>
</plist>
